{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "requireConfigFile":false
  },
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb"],
  "rules": {
  }
}
