-let charset = 'utf-8'
-let pageTitle = 'Home'
-let siteName = 'Pug tailwind css getting started'
-let description = 'Pug tailwind css getting started description'
-let viewPort = 'width=device-width, initial-scale=1'
