doctype html
html(lang="en")
  head
    title FAQ
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header 
      include ../includes/header
    block content 
    block footer
      include ../includes/header
